<html>
<head>
</head>
{% load staticfiles %}

<body background= "{% static 'houseitself/Academy.png' %}">

<link rel="stylesheet" type="text/css" href="{% static 'houseitself/style.css' %}" />


<img src="{% static 'houseitself/lucy.png' %}" height="500px" alt="" id="doll">

<form method="POST" action="{% url 'add_doll' %}">
 		{% csrf_token %}
 		Name: <input type = "text" name="name" size="25">
 		Image: <input type="text" name="image" size="25">
 		Location: <input type="text" name="doll" size="25">
 		<input type="submit" value="Submit">
 	</form>

</body>
</html>
