.container {
	width: 1200px;
	height: 220px;
}

.inventory_slot {
	width: 200px;
	height: 200px;
	border-color: #000000;
	border-width: 2px;
	border-style: dashed;
	margin-top: 16px;
	margin-left: 16px;
	float: left;
	display: inline;
	text-align: center; margin: 1em0;
	line-height: 200px;
	top: 50%;
	position: relative;
	background: #FFFFFF;
}

.stage {
	width: 800px;
	height: 720px;
	border-color: #000000;
	border-width: 4px;
	border-style: dashed;
	margin-top: 32px;
	margin-left: 32px;
	line-height: 800px;
	text-align: center;
	margin: 1em0;

	float: left;
	background-image: url("room.jpg");

}

#green {
	width: 20px;
	height: 20px;
	position: relative;
	margin: auto;
	background: #00FF00;
	color: #00FF00;
}

#red {
	width: 20px;
	height: 20px;
	position: relative;
	margin: auto;
	background: #FF0000;
	color: #FF0000;
}

#blue {
	width: 20px;
	height: 20px;
	position: relative;
	margin: auto;
	background: #0000FF;
	color: #0000FF;
}

* {
	font-family: helvetica;
}